.main-footer{
    color: white;
    background-color: orange;
    /* padding-top: 3em; */
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
}

.position{
    position:relative;
    margin-top:70px;
}