.head{
    color: #FC4830;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.texts{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:17%;
    margin-right:17%;
}

.things{
    margin-top:14%;
    margin-bottom:17%;
}

@media screen and (max-width: 768px) {
    .things{
        margin-bottom: 100px;
    }
    
}